@media screen and (max-width: 576px) {
  /* hide */
  .res-hide {
    display: none;
  }
  .pc-hide {
    display: block;
  }

  * {
    box-sizing: border-box;
  }

  body,
  html {
    overflow-x: hidden;
  }

  /* nav styles here */

  .nav-logo {
    width: 559px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 12px 16px;
  }

  .nav-logo > img {
    width: 46px;
    height: 46px;
  }

  .nav-logo > .bar {
    width: 30px;
    height: 30px;
  }

  .hr {
    border: 0.5px solid #fea301;
  }

  /* banner styles here */

  .banner-section {
    width: 575px;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .banner-info > h1 {
    color: #111;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
    line-height: 50px;
    margin: 0;
  }

  .banner-info > p {
    color: #111;
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 24px;
  }

  .banner-img img {
    height: 413px;
  }

  .banner-info > button {
    font-size: 18px;
    padding: 6px 24px;
    margin-bottom: 20px;
  }

  /* Standard Curriculum styles here */

  .standard-curriculam {
    width: 576px;
    height: auto;
    background-size: contain;
    background-position: top;
    margin-bottom: 50px;
  }

  .curriculam-cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .standard-section > h1 {
    margin-bottom: 24px;
    margin-top: 30px;
  }

  .card-one,
  .card-two > .card-one,
  .card-three > .card-one {
    width: 450px;
    padding: 36px 28px;
  }

  /* Our Stories styles here */

  .our-stories {
    background-image: url("../assets/bg.png"),
      linear-gradient(
        0deg,
        rgba(254, 163, 1, 0.3) 10%,
        rgba(255, 255, 255, 0.3) 100%
      );
    background-size: contain;
    background-position: top;
    height: auto;
  }

  .story-section {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .story-section > h1 {
    font-size: 36px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .four-stories {
    gap: 19px;
  }

  .story-two,
  .story-three,
  .story-four,
  .story-five {
    width: 245px;
    height: auto;
    border-radius: 9.527px;
  }

  .story-two > img,
  .story-three > img,
  .story-four > img,
  .story-five > img {
    width: 245px;
    height: auto;
    border-radius: 9.527px 9.527px 0px 0px;
  }

  .story-two > h4,
  .story-three > h4,
  .story-four > h4,
  .story-five > h4 {
    font-size: 9.133px;
    width: 81.252px;
    height: 10.846px;
  }

  .story-two > h1,
  .story-three > h1,
  .story-four > h1,
  .story-five > h1 {
    font-size: 9.133px;
    font-weight: 700;
    font-size: 13px;
  }

  /* Footer styles here */

  footer {
    height: auto;
    padding-left: 21px;
  }

  .foot {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .foot-logo {
    margin-top: 65px;
  }

  .foot-logo > img {
    width: 69.227px;
    height: 69.227px;
  }

  .foot-logo > h1 {
    font-size: 35.73px;
    font-weight: 700;
    line-height: 33.497px;
  }

  .foot-first > p {
    color: #fff;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    margin-top: 23px;
    text-align: justify;
  }

  .foot-second {
    gap: 17px;
    margin-top: 32px;
  }

  .foot-second > a {
    font-size: 16px;
  }

  .foot-second .about-school {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 27px;
  }

  .foot-third {
    margin-top: 31px;
  }

  .foot-third > h1 {
    font-size: 22px;
    font-weight: 700;
  }

  .foot-links {
    display: flex;
    gap: 8px;
    margin-bottom: 60px;
  }

  /* =========================== */
}
