/* fonts link here */
/* ------------------------------------------------------ */

/* font-family: "Quicksand", serif; */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

/* font-family: "Raleway", serif; */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* nav styles here */
/* ------------------------------------------------------ */

nav {
  width: 1159px;
  margin: 0 auto;
  font-family: "Quicksand", serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.nav-logo {
  display: flex;
  gap: 11px;
  justify-content: center;
  align-items: center;
}

.nav-logo > img {
  width: 62px;
  height: 62px;
}

.nav-logo > h1 {
  color: #111;
  font-size: 32px;
  font-weight: 700;
  line-height: 30px;
}

.nav-menu {
  display: flex;
  gap: 32px;
}

.nav-menu a {
  font-size: 20px;
  text-decoration: none;
}

.nav-ho {
  color: #fea301;
  font-weight: 700;
}

.nav-ab {
  color: #01acfd;
  font-weight: 500;
}

.nav-fa {
  color: #05d4df;
  font-weight: 500;
}

.nav-ad {
  color: #5d58ef;
  font-weight: 500;
}

.nav-btn > button {
  border: none;
  border-radius: 12px;
  background-color: #fea301;
  padding: 10px 60.5px;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  font-family: "Quicksand", serif;
  cursor: pointer;
}

marquee {
  margin-top: 8px;
  font-family: "Quicksand", serif;
  background-color: #f6f3ed;
  padding: 10px;
  font-weight: 600;
  margin-bottom: 5px;
}

/* banner styles here */
/* ------------------------------------------------------ */

.banner-section {
  width: 1159px;
  margin: 0 auto;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.banner-info {
  font-family: "Quicksand", serif;
}

.banner-info > h1 {
  color: #111;
  font-size: 56px;
  font-weight: 700;
  line-height: 61px;
  margin-bottom: 24px;
}

.banner-info .em {
  color: var(--Orange, #fea301);
}

.banner-info .to {
  color: #01acfd;
}

.banner-info > p {
  color: #111;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 24px;
}

.banner-info > button {
  border: none;
  border-radius: 12px;
  background-color: #111;
  padding: 10px 60.5px;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  font-family: "Quicksand", serif;
  cursor: pointer;
}

/* Standard Curriculum styles here */
/* ------------------------------------------------------ */

.standard-curriculam {
  width: 100%;
  height: 897px;
  background-image: url("../assets/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}

.standard-section {
  width: 1159px;
  margin: 0 auto;
}

.standard-section > h1 {
  color: #000;
  text-align: center;
  font-family: Quicksand;
  font-size: 46px;
  font-weight: 700;
  line-height: 57.5px;
  margin-bottom: 80px;
  margin-top: 60px;
}

.curriculam-cards {
  margin-bottom: 80px;
  display: flex;
  gap: 28px;
}

.card-one {
  display: flex;
  width: 367.805px;
  height: 476.784px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  border-radius: 18.864px;
  border: 0.943px solid #def5ff;
  background: linear-gradient(180deg, #def5ff 0%, rgba(255, 255, 255, 0) 40%),
    #fff;
  box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}

.card-one > img {
  width: 136.763px;
  height: 136.763px;
}

.card-one > h1 {
  color: #202020;
  text-align: center;
  font-family: Quicksand;
  font-size: 24.523px;
  font-weight: 700;
  line-height: 30.654px;
}

.card-one > p {
  color: #808080;
  text-align: center;
  font-family: Raleway;
  font-size: 15.091px;
  font-weight: 500;
  line-height: 28.296px;
  margin: 0;
}

.card-one > a {
  text-decoration: none;
  color: #64c8ff;
  text-align: center;
  font-family: Quicksand;
  font-size: 15.091px;
  font-weight: 700;
}

.card-two > .card-one {
  background: linear-gradient(180deg, #fff4dc 0%, rgba(255, 255, 255, 0) 40%),
    #fff;
  box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
  border: 1px solid #fff4dc;
}

.card-two > .card-one > a {
  color: #f0aa00;
  font-weight: 700;
}

.card-three > .card-one {
  background: linear-gradient(180deg, #eee1ff 0%, rgba(255, 255, 255, 0) 40%),
    #fff;
  box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
  border: 1px solid #e6d9f7cf;
}

.card-three > .card-one > a {
  color: #8700ff;
  font-weight: 700;
}

.standard-btn {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 60px;
}

/* Our Stories styles here */
/* ------------------------------------------------------ */

.our-stories {
  background-image: url("../assets/bg.png"),
    linear-gradient(
      0deg,
      rgba(254, 163, 1, 0.3) 10%,
      rgba(255, 255, 255, 0.3) 100%
    );
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1018px;
  border: none;
}

.story-section {
  width: 1159px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.story-section > h1 {
  color: #000;
  text-align: center;
  font-family: Quicksand;
  font-size: 46px;
  font-weight: 700;
  line-height: 57.5px;
  margin-top: 60px;
  margin-bottom: 80px;
}

.stories {
  display: flex;
  gap: 19px;
}

.story-one {
  width: 540.267px;
  height: 630.518px;
  border-radius: 16px;
  background: #fff;
  position: relative;
}

.story-one > img {
  border-radius: 16px 16px 0px 0px;
  width: 540px;
  height: 337px;
}

.story-one > h4 {
  color: #fff;
  font-family: Raleway;
  font-size: 15.339px;
  font-weight: 500;
  line-height: 28.761px;
  border-radius: 47.934px;
  background: #3cd8e8;
  display: inline;
  padding: 10px 18px;
  margin-left: 38px;
  position: relative;
  bottom: 20px;
}

.story-one > h1 {
  color: #000;
  font-family: Quicksand;
  font-size: 24px;
  font-weight: 700;
  line-height: 38.347px;
  padding-left: 38px;
}

.story-one > p {
  color: #666;
  font-family: Raleway;
  font-size: 15.339px;
  font-weight: 500;
  line-height: 28.761px;
  padding-left: 38px;
  margin-top: 51.77px;
  padding-bottom: 34.52px;
}

.four-stories {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 19px;
}

.story-two {
  width: 290.693px;
  height: 301px;
  border-radius: 16px;
  background: #fff;
}

.story-two > img {
  border-radius: 16px 16px 0px 0px;
}

.story-two > h4 {
  color: #fff;
  font-family: Raleway;
  font-size: 15.339px;
  font-weight: 500;
  line-height: 28.761px;
  border-radius: 47.934px;
  background: #3cd8e8;
  display: inline;
  padding: 10px 18px;
  margin-left: 38px;
  position: relative;
  bottom: 20px;
}

.story-two > h1 {
  color: #000;
  font-family: Quicksand;
  font-size: 15.339px;
  font-weight: 700;
  line-height: 28.761px;
  margin-left: 38px;
  margin-bottom: 28.76px;
}

.story-three {
  width: 290.693px;
  height: 301px;
  border-radius: 16px;
  background: #fff;
}

.story-three > img {
  border-radius: 16px 16px 0px 0px;
}

.story-three > h4 {
  color: #fff;
  font-family: Raleway;
  font-size: 15.339px;
  font-weight: 500;
  line-height: 28.761px;
  border-radius: 47.934px;
  background: #5d58f0;
  display: inline;
  padding: 10px 18px;
  margin-left: 38px;
  position: relative;
  bottom: 20px;
}

.story-three > h1 {
  color: #000;
  font-family: Quicksand;
  font-size: 15.339px;
  font-weight: 700;
  line-height: 28.761px;
  margin-left: 38px;
  margin-bottom: 28.76px;
}

.story-four {
  width: 290.693px;
  height: 301px;
  border-radius: 16px;
  background: #fff;
}

.story-four > img {
  border-radius: 16px 16px 0px 0px;
}

.story-four > h4 {
  color: #fff;
  font-family: Raleway;
  font-size: 15.339px;
  font-weight: 500;
  line-height: 28.761px;
  border-radius: 47.934px;
  background: #95b226;
  display: inline;
  padding: 10px 18px;
  margin-left: 38px;
  position: relative;
  bottom: 20px;
}

.story-four > h1 {
  color: #000;
  font-family: Quicksand;
  font-size: 15.339px;
  font-weight: 700;
  line-height: 28.761px;
  margin-left: 38px;
  margin-bottom: 28.76px;
}

.story-five {
  width: 290.693px;
  height: 301px;
  border-radius: 16px;
  background: #fff;
}

.story-five > img {
  border-radius: 16px 16px 0px 0px;
}

.story-five > h4 {
  color: #fff;
  font-family: Raleway;
  font-size: 15.339px;
  font-weight: 500;
  line-height: 28.761px;
  border-radius: 47.934px;
  background: #95b226;
  display: inline;
  padding: 10px 18px;
  margin-left: 38px;
  position: relative;
  bottom: 20px;
}

.story-five > h1 {
  color: #000;
  font-family: Quicksand;
  font-size: 15.339px;
  font-weight: 700;
  line-height: 28.761px;
  margin-left: 38px;
  margin-bottom: 28.76px;
}

.story-btn > button {
  border: none;
  border-radius: 12px;
  background-color: #111;
  padding: 10px 60.5px;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  font-family: "Quicksand", serif;
  cursor: pointer;
  margin-top: 80px;
  margin-bottom: 60px;
}
