/* fonts link here */
/* ------------------------------------------------------ */

/* font-family: "Quicksand", serif; */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

/* font-family: "Raleway", serif; */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* nav styles here */
/* ------------------------------------------------------ */

nav {
  width: 1159px;
  margin: 0 auto;
  font-family: "Quicksand", serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.nav-logo {
  display: flex;
  gap: 11px;
  justify-content: center;
  align-items: center;
}

.nav-logo > img {
  width: 62px;
  height: 62px;
}

.nav-logo > h1 {
  color: #111;
  font-size: 32px;
  font-weight: 700;
  line-height: 30px;
}

.nav-menu {
  display: flex;
  gap: 32px;
}

.nav-menu a {
  font-size: 20px;
  text-decoration: none;
}

.nav-ho {
  color: #fea301;
  font-weight: 700;
}

.nav-ab {
  color: #01acfd;
  font-weight: 500;
}

.nav-fa {
  color: #05d4df;
  font-weight: 500;
}

.nav-ad {
  color: #5d58ef;
  font-weight: 500;
}

.nav-btn > button {
  border: none;
  border-radius: 12px;
  background-color: #fea301;
  padding: 10px 60.5px;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  font-family: "Quicksand", serif;
}

marquee {
  margin-top: 5px;
  font-family: "Quicksand", serif;
  background-color: #f6f3ed;
  padding: 10px;
  font-weight: 600;
  margin-bottom: 5px;
}

/* banner styles here */
/* ------------------------------------------------------ */

.banner-section {
  width: 1159px;
  margin: 0 auto;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.banner-info {
  font-family: "Quicksand", serif;
}

.banner-info > h1 {
  color: #111;
  font-size: 56px;
  font-weight: 700;
  line-height: 61px;
  margin-bottom: 24px;
}

.banner-info .em {
  color: var(--Orange, #fea301);
}

.banner-info .to {
  color: #01acfd;
}

.banner-info > p {
  color: #111;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 24px;
}

.banner-info > button {
  border: none;
  border-radius: 12px;
  background-color: #111;
  padding: 10px 60.5px;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  font-family: "Quicksand", serif;
}
